@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --main-color: #10cab7;
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

* {
    box-sizing: border-box;

}

body {
    font-family: "Work Sans", sans-serif;
    text-transform: capitalize;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/*<!--- end globel */
/* start header*/
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    width: 60px;
    height: 30px;
}

.header .nav {
    position: relative;
}

.header .nav .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .nav .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}


.header .nav .icon span:first-child {
    width: 100%;

}

.header .nav .icon span:nth-child(2) {
    width: 50%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header .nav .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .nav .icon span:last-child {
    width: 100%;
}

.header .nav ul {
    margin: 0;
    padding: 0;
    background-color: #fffaf0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    list-style: none;
    display: none;
    z-index: 1;
}

.header .nav:hover ul {
    display: block;
}

.header .nav ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fffaf0 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .nav ul li a {
    display: flex;
    padding: 15px;
    color: #333;
    transition: .3s;
    text-decoration: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    justify-content: flex-start;
}

.header .nav ul li a:hover {
    padding-left: 25px;

}

.header .nav ul li:not(:last-child) a {
    border-bottom: 1px solid #333;
}

/* end header */
/* section landing start */
.landing {
    margin: 0;
    background-image: url(../image/bacc.jpg);
    background-size: cover;
    height: calc(100vh - 70px);
    position: relative;
}

.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing h1 {
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}

.landing p {
    margin: 0;
    font-size: 20px;
    line-height: 1.8;
}

.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.feat i {
    color: #10cab7;
}

.features h3 {
    font-weight: 800;
}

.features p {
    line-height: 1.8;
    color: #777;
}

.title {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3;
    margin: 0;
}

.title+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    counter-reset: #797979;
}

@media (max-width:767px) {
    .title {
        font-size: 60px;
    }

    .title+p {
        margin-top: 20px;
    }
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .service-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

@media (min-width:1200px) {
    .services .container {
        width: 980px;
    }
}

.services .service-cont .ser {
    display: flex;
    margin-bottom: 40px;

}

@media (max-width:767px) {
    .services .service-cont .ser {
        flex-direction: column;
        text-align: center;
    }

}

.services .ser i {
    color: var(--main-color);
    flex-basis: 60px;

}

.services .ser .text {
    flex: 1;

}

.services .ser .text h3 {
    margin: 0;
}

.services .ser .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.8;
}

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);


}

.portfolio .card-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portfolio .card img {
    max-width: 100%;
}

.info {
    padding: 20px;
    background-color: white;
}

.card p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info p {
    font-size: 35px;
    color: var(--secondary-color);
    font-weight: 800;
    word-spacing: -2px;
    margin-bottom: 15;

}

.contact .info a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.social a i{
    margin-left: 10px;
    margin-top: 15px;
    text-decoration: none;
    color: var(--secondary-color);
}

.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

.footer p {
    display: inline-block;
}